---
import Comment from '@components/Comment.astro';
import TableOfContents from '@components/TableOfContents.astro';
import Code from '@components/mdx/Code.astro';
import SButton from '@components/mdx/MDButton.astro';
import MImage from '@components/mdx/MImage.astro';
import BlogPost from '@layouts/BlogPost.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import clsx from 'clsx';
type Props = { doc: CollectionEntry<'doc'> };

// 在 server 模式中选择加入预渲染
export const prerender = true;

export async function getStaticPaths() {
  const docs = await getCollection('doc');

  return docs.map((post) => ({
    params: { slug: post.slug },
    props: { doc: post }
  }));
}

const { doc: post } = Astro.props;
const { Content, remarkPluginFrontmatter, headings } = await post.render();
const hasHeadering = headings && !!headings.length;
---

<BlogPost
  id={post.id as any}
  data={post.data}
  headings={headings}
  readTime={remarkPluginFrontmatter.minutesRead}
>
  <div class='flex mt-8 w-full'>
    <!-- aside -->
    {
      hasHeadering && (
        <aside class='md:flex flex-col w-[20%] hidden mr-10 flex-none'>
          <div class='sticky top-24 self-start hidden md:block transition-all duration-200'>
            {<TableOfContents {headings} />}
          </div>
        </aside>
      )
    }

    <div class={clsx('flex-auto overflow-hidden')}>
      <article class='max-w-screen-2xl'>
        <div class='my-3 prose-base dark:prose-invert prose-a:text-blue-600'>
          <div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full'>
            <Content components={{ pre: Code, SButton, img: MImage }} />
          </div>
          <Comment />
        </div>
      </article>
    </div>
  </div>
</BlogPost>
