---
import { latestPosts } from '@utils/content';
import Container from '../components/container.astro';
import Postlist from '../components/postlist.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Container>
    <main>
      <div class='grid gap-10 lg:gap-10 md:grid-cols-2'>
        {
          latestPosts
            .filter((item) => !!item.data.pin)
            .map((post) => <Postlist post={post} aspect='landscape' preloadImage={true} />)
        }
      </div>
      <div class='grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3'>
        {
          latestPosts
            .filter((item) => !item.data?.pin)
            .map((post) => <Postlist post={post} aspect='square' />)
        }
      </div>
    </main>
  </Container>
</Layout>
