---
import Container from '@components/Container.astro';
import Postlist from '@components/Postlist.astro';
import ArrowUp from '@components/icons/ArrowUp.astro';
import Button from '@components/ui/button.astro';
import config, { DEFAULT_GRID_COLUMNS } from '@config/index';

import Footer from '@/components/Footer.astro';
import { latestPosts } from '@utils/content';
import clsx from 'clsx';
import Layout from '../layouts/Layout.astro';
const { pageSize, default_column, show_copyright_info, foot_site_info } = config;
/** 首页默认列数 */
---

<Layout>
  <Container>
    <main>
      <div class='grid gap-10 lg:gap-10 md:grid-cols-2'>
        {
          latestPosts
            .filter((item) => !!item.data.pin)
            .slice(0, 2)
            .map((post) => <Postlist post={post} preloadImage={true} />)
        }
      </div>
      <div class={clsx(`grid gap-10 mt-10 lg:gap-10`, DEFAULT_GRID_COLUMNS[default_column])}>
        {
          latestPosts
            .filter((item) => !item.data?.pin)
            .slice(0, pageSize)
            .map((post) => <Postlist post={post} />)
        }
      </div>

      <!-- 分页 -->
      {
        latestPosts.length > config.pageSize && (
          <div class='text-center mt-8'>
            <Button>
              <a
                href='/page/2'
                target='_blank'
                class='flex font-bold justify-center items-center rounded-full hover:translate-x-1 transition-transform duration-150 ease-in-out gap-1 group'
                rel='noopener noreferrer'
              >
                查看更多
                <span class='group-hover:rotate-45 transition-transform duration-250 ease-in-out'>
                  <ArrowUp width='18' height='18' />
                </span>
              </a>
            </Button>
          </div>
        )
      }
    </main>
  </Container>
  {(show_copyright_info || !!foot_site_info) && <Footer />}
</Layout>
