---
import { ThemeSwitch } from "astro-color-scheme";
import { Icon } from 'astro-icon/components';
---

<ThemeSwitch strategy="select" defaultTheme="dark">
  <div class="inline-flex items-center">
    <Icon name={`mdi:white-balance-sunny`} />
    <select name="themeSwitch" id="themeSwitch">
      <option value="system">System</option>
      <option value="dark">Dark</option>
      <option value="light">Light</option>
    </select>
  </div>
</ThemeSwitch>
