@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    scroll-behavior: smooth;
    --color-base-purple: 269, 79%;
    --color-purple: var(--color-base-purple), 54%;
    --color-base-teal: 180, 80%;
    --color-base-yellow: 41, 100%;
    --color-base-red: 351, 100%;
    --color-base-gray: 250, 14%;
    --color-gray-10: var(--color-base-gray), 10%;
    --color-gray-90: var(--color-base-gray), 90%;

    --color-fill: 246, 247, 248;
    --color-text-base: 40, 39, 40;
    --color-accent: 255, 107, 3;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
    --theme-accent-opacity: 0.3;

    /* --theme-code-tabs: #22272f;
    --theme-code-bg: #282c34; */
    /* --theme-text: hsla(var(--color-gray-10), 1);
    --theme-code-text: hsla(var(--color-gray-95), 1); */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --theme-accent-opacity: 0.4;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

code {
  color: #d8ba7d !important;
  background-color: #3e404b;
  border-radius: 4px;
  padding: 2px 4px;
}
code::before,
code::after {
  content: ' ' !important;
}

.prose code {
  @apply text-base;
}
.prose code::before,
.prose code::after,
.prose blockquote p::before,
.prose blockquote p::after {
  content: none !important;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  scroll-margin-top: 76px; /* 与header高度一致 */
}

* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
  font-family: lxgw-wenkai;
}

html .shiki {
  color: var(--shiki-dark) !important;
  background-color: rgb(33, 33, 33) !important;
  box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12) !important;
}

.giscus {
  padding: 10px;
  background-color: #9ea0ab;
  border-radius: 12px;
}
.dark .giscus {
  background-color: var(--theme-accent-opacity);
}

.glass {
  background: rgba(57, 56, 56, 0.52);
  backdrop-filter: blur(13px) saturate(150%);
  -webkit-backdrop-filter: blur(13px) saturate(150%);
  z-index: -1;
}

.scrollbar {
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &.white::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &.black::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    visibility: hidden;
    border-radius: 5px;
    transition: background-color 200ms ease-in-out 0s;
  }
  &::-webkit-scrollbar {
    width: 7;
    height: 7;
    background-color: transparent;
  }
}

/* -------- astro embed start-------- */
.twitter-tweet {
  background: floralwhite;
  color: darkblue;
  font-family: cursive;
  font-size: 1.25rem;
  border: 0;
}

.twitter-tweet a {
  color: purple;
  font-weight: bold;
}

.link-preview {
  --link-preview-corners: 0.5em;
  --link-preview-padding-inline: 0.75rem;
  background-color: floralwhite;
  color: darkblue;
  font-family: sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.link-preview a {
  color: purple;
  font-weight: bold;
  text-decoration: none;
}

lite-youtube,
lite-vimeo {
  width: 100% !important;
  margin: 0 auto;
}
.link-preview,
.twitter-tweet {
  margin: 0 auto;
}

/* -------- astro embed end-------- */

.textOVerFlow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ------------ about home ------------- */

.twinkle-display,
.twinkle-style {
  text-align: center;
  color: #000000;
  position: relative;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.twinkle-style {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  animation: san 1.8s ease-in-out infinite;
  animation-timing-function: steps(1, end);
}

@keyframes san {
  0% {
    clip-path: inset(20% -5px 60% 0);
    transform: translate(-6px, 5px);
    visibility: visible;
  }

  10% {
    clip-path: inset(50% -5px 30% 0);
    transform: translate(6px, -5px);
  }

  20% {
    clip-path: inset(20% -5px 60% 0);
    transform: translate(5px, 0px);
  }

  30% {
    clip-path: inset(80% -5px 5% 0);
    transform: translate(-8px, 5px);
  }

  40% {
    clip-path: inset(0 -5px 80% 0);
    transform: translate(-4px, -3px);
  }

  50% {
    clip-path: inset(50% -5px 30% 0);
    transform: translate(-6px, -5px);
  }

  60% {
    clip-path: inset(80% -5px 5% 0);
    transform: translate(-7px, 5px);
  }

  70% {
    clip-path: inset(0 -5px 80% 0);
    transform: translate(3px, 6px);
  }

  80% {
    clip-path: inset(50% -5px 30% 0);
    transform: translate(5px, 5px);
  }

  90% {
    clip-path: inset(20% -5px 60% 0);
    transform: translate(6px, -5px);
  }

  100% {
    clip-path: inset(0 0px 80% 0);
    transform: translate(1px, 5px);
  }
}
