@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    scroll-behavior: smooth;
    --color-base-purple: 269, 79%;
    --color-purple: var(--color-base-purple), 54%;
    --color-base-teal: 180, 80%;
    --color-base-yellow: 41, 100%;
    --color-base-red: 351, 100%;
    --color-base-gray: 250, 14%;
    --color-gray-10: var(--color-base-gray), 10%;
    --color-gray-90: var(--color-base-gray), 90%;

    --color-fill: 246, 247, 248;
    --color-text-base: 40, 39, 40;
    --color-accent: 255, 107, 3;
    --color-card: 230, 230, 230;
    --color-card-muted: 205, 205, 205;
    --color-border: 236, 233, 233;
    --theme-accent-opacity: 0.3;
    /* --theme-code-tabs: #22272f;
    --theme-code-bg: #282c34; */
    /* --theme-text: hsla(var(--color-gray-10), 1);
    --theme-code-text: hsla(var(--color-gray-95), 1); */
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --theme-accent-opacity: 0.4;
  }
  code {
    color: #d8ba7d !important;
    background-color: #3e404b;
    border-radius: 4px;
    padding: 2px 4px;
  }
  code::before,
  code::after {
    content: ' ' !important;
  }

  .prose code {
    @apply text-base;
  }
  .prose code::before,
  .prose code::after,
  .prose blockquote p::before,
  .prose blockquote p::after {
    content: none !important;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: lxgw-wenkai;
  }

  html .shiki {
    color: var(--shiki-dark) !important;
    background-color: rgb(33, 33, 33) !important;
    box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12) !important;
  }
}

.glass {
  background: rgba(57, 56, 56, 0.52);
  backdrop-filter: blur(13px) saturate(150%);
  -webkit-backdrop-filter: blur(13px) saturate(150%);
  z-index: -1;
}

.scrollbar {
  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  &.white::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &.black::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    visibility: hidden;
    border-radius: 5px;
    transition: background-color 200ms ease-in-out 0s;
  }
  &::-webkit-scrollbar {
    width: 7;
    height: 7;
    background-color: transparent;
  }
}

/* -------- astro embed start-------- */
.twitter-tweet {
  background: floralwhite;
  color: darkblue;
  font-family: cursive;
  font-size: 1.25rem;
  border: 0;
}

.twitter-tweet a {
  color: purple;
  font-weight: bold;
}

.link-preview {
  --link-preview-corners: 0.5em;
  --link-preview-padding-inline: 0.75rem;
  background-color: floralwhite;
  color: darkblue;
  font-family: sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.link-preview a {
  color: purple;
  font-weight: bold;
  text-decoration: none;
}

.link-preview,
lite-youtube,
lite-vimeo {
  width: 100% !important;
  max-width: none !important;
}
.twitter-tweet {
  margin: 0 auto;
}

/* -------- astro embed end-------- */
