---
import '@common/globals.css';
import Footer from "@components/footer.astro";
import Header from "@components/header.astro";

import { checkImageUrl } from "@utils/all";
import { SEO } from "astro-seo";

interface Props {
	title?: string;
	desc?: string;
  ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const { title, desc, ogimage = "/opengraph.jpg" } = Astro.props;

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? title + " | " + "DevNow"
  : "DevNow — 开发技术周刊";
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SEO
      title={makeTitle}
      description={desc ||
        "DevNow — 开发技术周刊"}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `DevNow — 开发技术周刊`,
          image: resolvedOGImage,
        },
        image: {
          alt: "DevNow Screenshot",
        },
      }}
    />
	</head>
	<body>
		<Header />
		<slot />
		<Footer  />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
